<header class="flex-column flex-lg-row container">
  <div class="left flex-column flex-md-row">
    <div class="logo">
      <img src="https://go-bus.com/images/go-bus-dark.png" alt="" />
    </div>
    <ul class="links">
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li>
        <a routerLink="/destinations" routerLinkActive="active"
          >Travel Destination</a
        >
      </li>
      <li>
        <a routerLink="/branches" routerLinkActive="active">Go Bus Branches</a>
      </li>
      <li><a routerLink="/questions" routerLinkActive="active">FAQ</a></li>
      <li>
        <a routerLink="/reports" routerLinkActive="active">Contact us</a>
      </li>
    </ul>
  </div>
  <div class="right">
    <ul>
      <li><a routerLink="/login">Login</a></li>
      <li><a routerLink="/register">Register</a></li>
    </ul>
  </div>
</header>
